In [123]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)

In [124]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.1)

In [125]:
pip show sqlalchemy | grep Version

Note: you may need to restart the kernel to use updated packages.

Der Befehl "grep" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [126]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)

In [127]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [128]:
bd = "sakila"
# Use the password variable that was securely input earlier
connection_string = 'mysql+pymysql://root:' + password + '@localhost:3306/' + bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost:3306/sakila)

In [129]:
# Re-enter the correct password
import getpass
password = getpass.getpass("Enter MySQL root password: ")

# Update the connection string and engine
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'
engine = create_engine(connection_string)

# Try connecting again
connection = engine.connect()

INFO:sqlalchemy.engine.Engine:SELECT DATABASE()
INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:SELECT @@sql_mode
INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:SELECT @@lower_case_table_names
INFO:sqlalchemy.engine.Engine:[raw sql] {}

In [130]:
from sqlalchemy import text

# Example: execute a simple SQL query
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    for row in result:
        print(row)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SELECT 1
INFO:sqlalchemy.engine.Engine:[generated in 0.00178s] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK

(1,)

In [131]:
from sqlalchemy import text

# List all tables in the current database
with engine.connect() as connection:
    result = connection.execute(text("SHOW TABLES"))
    tables = [row[0] for row in result]
print("Available tables:", tables)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SHOW TABLES
INFO:sqlalchemy.engine.Engine:[generated in 0.00301s] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK

Available tables: ['actor', 'actor_info', 'address', 'category', 'city', 'country', 'customer', 'customer_list', 'customer_rental_summary', 'customer_rentals_view', 'film', 'film_actor', 'film_category', 'film_list', 'film_text', 'inventory', 'language', 'nicer_but_slower_film_list', 'payment', 'rental', 'sales_by_film_category', 'sales_by_store', 'staff', 'staff_list', 'store']

In [132]:
import pandas as pd
from sqlalchemy import create_engine

def rentals_month(engine, month, year):
    query = f"""
    SELECT * FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    # Execute the query and return as DataFrame
    return pd.read_sql_query(query, engine)
rentals = rentals_month(engine, 5, 2005)
print(rentals.head())

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:
    SELECT * FROM rental
    WHERE MONTH(rental_date) = 5 AND YEAR(rental_date) = 2005

INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [133]:
from sqlalchemy import create_engine

# Replace placeholders with your actual database credentials
username = 'root'
password = 'Klaudija1997'
database_name = 'sakila-data'

# Create the engine using SQLAlchemy
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost:3306/{database_name}')

# Test the connection by executing a simple query
try:
    # Connect to the database
    with engine.connect() as connection:
        result = connection.execute("SELECT DATABASE()")
        print(f"Connected to the database: {result.scalar()}")
except Exception as e:
    print(f"Error connecting to the database: {e}")

Error connecting to the database: (pymysql.err.OperationalError) (1049, "Unknown database 'sakila-data'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [134]:
engine = create_engine("mysql+pymysql://user:pw@host/db", pool_pre_ping=True)

In [135]:
from sqlalchemy import create_engine, exc, event
from sqlalchemy import select

# Replace with your actual database configuration
username = 'mysql.infoschema'
password = 'Klaudija1997'
database_name = 'sakila'
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost:3306/{database_name}')

@event.listens_for(engine, "engine_connect")
def ping_connection(connection, branch):
    if branch:
        # This condition is not expected to be True in SqlAlchemy 2.0
        return

    try:
        # Attempt to execute a quick SELECT 1 to test the connection
        connection.scalar(select(1))
    except exc.DBAPIError as err:
        if err.connection_invalidated:
            try:
                # Re-attempt the same SELECT to refresh the connection
                print("Connection was invalidated; re-establishing...")
                connection.scalar(select(1))
            except exc.DBAPIError as err:
                print("Failed to re-establish the connection.")
                raise
        else:
            raise

In [136]:
import pandas as pd

def test_query(engine):
    query = "SELECT * FROM rental LIMIT 10;"
    try:
        df = pd.read_sql_query(query, engine)
        print(df.head())
    except Exception as e:
        print(f"Error executing the query: {e}")

# Example usage:
test_query(engine)

Error executing the query: (pymysql.err.OperationalError) (1045, "Access denied for user 'mysql.infoschema'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [137]:
def check_date_availability(engine):
    query = "SELECT DISTINCT YEAR(rental_date) AS year, MONTH(rental_date) AS month FROM rental;"
    try:
        df = pd.read_sql_query(query, engine)
        print("Available data months and years: \n", df)
    except Exception as e:
        print(f"Error retrieving date data: {e}")

# Example usage:
check_date_availability(engine)

Error retrieving date data: (pymysql.err.OperationalError) (1045, "Access denied for user 'mysql.infoschema'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [138]:
import logging

# Enable SQLAlchemy logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

# Your existing function or calls

In [139]:
import pandas as pd

def rentals_month(engine, month, year):
    query = f"""
    SELECT * FROM rental
    WHERE MONTH(rental_date) = {6} AND YEAR(rental_date) = {2006};
    """
    
    print(f"Executing query for month: {month}, year: {year}")
    
    # Execute the query and return as DataFrame
    df = pd.read_sql_query(query, engine)
    
    # Provide some immediate feedback on results
    if df.empty:
        print(f"No data found for {month}/{year}. Check database records or verify the query.")
    else:
        print(f"Found {len(df)} records for {month}/{year}.")
    
    return df

In [140]:
import pandas as pd

def rentals_month(engine, month, year):
    query = f"""
    SELECT * FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    
    # Execute the query and return as DataFrame
    return pd.read_sql_query(query, engine)
def rental_counts_month(engine, month, year, column_name='rental_count'):
    query = f"""
    SELECT COUNT(*) AS count, MONTH(rental_date) AS month, YEAR(rental_date) AS year
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    GROUP BY month, year;
    """
    
    # Execute the query and return as DataFrame
    rental_counts = pd.read_sql_query(query, engine)

In [141]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames on customer_id
    comparison_df = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    
    # Extract column names for rentals
    rentals_col1 = df1.columns[1]
    rentals_col2 = df2.columns[1]
    
    # Calculate the difference between the two rental counts
    comparison_df['difference'] = comparison_df[rentals_col1] - comparison_df[rentals_col2]
    
    return comparison_df